@keyframes grow {
    0% {
      display: none;
      opacity: 0;
    }
    3% {
      display: block;
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  body {font-family: 'Roboto', sans-serif;}
  
  #userLight {-webkit-filter: invert(0%); filter: invert(0%); width: 30px; }
  #userDark {-webkit-filter: invert(100%); filter: invert(100%);width: 30px;}
  #userDark:hover{cursor: pointer;}
  #userLight:hover{cursor: pointer;}
  
  #sidebarDiv {
      float: left;
      text-align: left;
      background-color: lightgrey;
      width: 100px;   
      display: block;
      animation: grow .45s ease-in-out;
      margin: 5px;
      height: 560px;
      border: 1px solid black;
      border-radius: 6px;
  }
  #showImg {
      width: 30px;
      
      animation: grow .6s ease-in-out;
  }
  #showImg:hover {
      cursor: pointer;
  }
  #hideImg {
      width: 30px;

      animation: grow .6s ease-in-out;
  }
  #hideImg:hover {
      cursor: pointer;
  }
  
  #favoriteIcon {
      float: right;
      width: 40px;

  }
  #sidebarLink {
      text-decoration: none;
      color: black;
      font-size: 20px;
      -webkit-transition: background-color 2s; /* Safari */
      transition: background-color 2s;
  
      -webkit-transition: color 1s; /* Safari */
      transition: color .5s;
      border-radius: 2px;
  }
  #sidebarLink:hover {
      color: darkgray;
      background-color: grey;
      
  }
  #sidebarLink:active {
      color: red;
  }
  #mainBox {
      margin: 10px;
      padding: 5px;
  }
  #inputBox {
      background-color: lightgray;
      float: left;
      padding: 20px;
      border: 1px solid black;
      border-radius: 6px;
  }
  #inputLogin {
      padding: 6px;
      width: 150px;
  }
  #inputLogin:focus {
      border: 1px solid black;
      padding: 7px;
  }
  #submitButton {
      width: 240px;
      height: 30px;
      background-color: lightgrey;
      border: 1px solid darkgrey;
  }
  #submitButton:hover {
      cursor: pointer;
  }
  #submitButton:active {
      border: 1px solid black;
  }
  #error {
      color: red;
      padding: none;
      margin: none;
  }
  #success {
      color: green;
  }
  #links {
      color: darkgreen;
      text-decoration: none;
  }
  #links:hover{
    color: darkgreen;
    text-decoration: underline;
}
  #favoriteIcon {
      width: 40px;
      height: 40px;
  }
  #favoriteIcon:hover {
      cursor: pointer;
}
#footer {
    font-size: 10px;
}
#logout {
    background-color: green;
    color: white;
    text-decoration: none;
    vertical-align: bottom;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;

    -webkit-transition: color 1s; /* Safari */
    transition: color .5s;
}
#logout:hover {
    background-color: white;
    color: green;
    border: 1px solid black;
    cursor: pointer;
}
#gameEmbed {
    width: 800px;
    height: 600px;
    border: 1px solid green;
    -webkit-box-shadow: 12px 10px 30px 0px rgba(41, 50, 50, 0.37);
    -moz-box-shadow:    12px 10px 30px 0px rgba(41, 50, 50, 0.37);
    box-shadow:         12px 10px 30px 0px rgba(41, 50, 50, 0.37);
    border-radius: 5px;
}
#secretMode {
    background-color: green;
    color: white;
    text-decoration: none;
    vertical-align: bottom;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;

    -webkit-transition: color 1s; /* Safari */
    transition: color .5s;
}
#secretMode:hover {
    background-color: white;
    color: green;
    border: 1px solid black;
    cursor: pointer;
}